In [203]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

df = pd.read_csv('mahasiswa_data.csv')

df['JENIS KELAMIN'] = df['JENIS KELAMIN'].map({'LAKI - LAKI': 0, 'PEREMPUAN': 1})
df['STATUS PERNIKAHAN'] = df['STATUS PERNIKAHAN'].map({'BELUM': 0, 'MENIKAH': 1})
df['STATUS MAHASISWA'] = df['STATUS MAHASISWA'].map({'MAHASISWA': 0, 'BEKERJA': 1})
df['IPK SEMESTER 1-6'] = df['IPK SEMESTER 1-6'].astype(float)
df['STATUS KELULUSAN'] = df['STATUS KELULUSAN'].map({'TERLAMBAT': 0, 'TEPAT': 1})

X = df[['JENIS KELAMIN', 'STATUS MAHASISWA', 'STATUS PERNIKAHAN', 'IPK SEMESTER 1-6', 'STATUS KELULUSAN']]
y = df['STATUS KELULUSAN']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

model = LogisticRegression()
model.fit(X_train, y_train)

df['PREDIKSI STATUS KELULUSAN'] = model.predict(X)

df

,NO,JENIS KELAMIN,STATUS MAHASISWA,STATUS PERNIKAHAN,IPK SEMESTER 1-6,STATUS KELULUSAN,PREDIKSI STATUS KELULUSAN
0,1,0,0,0,3.17,1,1
1,2,0,1,0,3.30,1,1
2,3,1,0,0,3.01,1,1
3,4,1,0,1,3.25,1,1
4,5,0,1,1,3.20,1,1
5,6,0,1,1,2.50,0,0
6,7,1,1,1,3.00,0,0
7,8,1,1,0,2.70,0,0
8,9,0,1,0,2.40,0,0
9,10,1,0,1,2.50,0,0
10,11,1,0,0,2.50,0,0
11,12,1,0,0,3.50,1,1
12,13,0,1,1,3.30,1,1
13,14,0,0,1,3.25,1,1
14,15,0,0,0,2.30,0,0

In [204]:
# confusion matrix
y_pred = model.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[2 0]
 [0 1]]